.footer {
  width: 100%;
  text-align: center;
  line-height: 2.0rem;
  margin-bottom:1.0rem;
  a {
    color: $link-color;
  }

  .webring {
    padding-bottom: 1em;
    webring-banner {
      width: 50%;
      margin: 0 auto;     
      min-width: 360px;
    }
  }
}
